@model RoleFormVwModel


<form method="post" asp-controller="Roles" asp-action="NewRole">
    <div class="input-group mb-3">
        <input asp-for="Name" class="form-group" placeholder="Role Name..." />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Add New Role</button>
        </div>
    </div>
    <span asp-validation-for="Name" class="text-danger"></span>

</form>
