@model RolePermissionsVwModel

@{
    ViewData["Title"] = "Role Claims";
}

<div class="content-wrapper" style="min-height: 1016.95px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Simple Tables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Simple Tables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- /.row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <form asp-controller="Roles" asp-action="PManageRoleClaims" method="post" role="form">
                                <div class="card mt-4">
                                    <div class="card-header">
                                        <h2>@Model.RoleName</h2>
                                        Add Remove Roles
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr class="bg-primary text-white">
                                                    <th></th>
                                                    <th>Module</th>
                                                    <th>Permission</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <input type="hidden" asp-for="RoleId" />
                                                @for (int i = 0; i < Model.Permissions.Count(); i++)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input type="hidden" asp-for="Permissions[i].Name" />
                                                            <div class="mr-4">
                                                                <input asp-for="Permissions[i].IsSelected" class="form-check-input" />
                                                                @*<label asp-for="Permissions[i].IsSelected" class="form-check-label">
                                                                        @Model.Permissions[i].Name
                                                                    </label>*@
                                                            </div>
                                                        </td>

                                                        <td>@Model.Permissions[i].Name.Split('.')[1]</td>
                                                        <td>@Model.Permissions[i].Name.Split('.')[2]</td>
                                                    </tr>

                                                }
                                            </tbody>

                                        </table>



                                    </div>

                                    <div asp-validation-summary="All" class="text-danger"></div>

                                </div>

                                <div class="card-footer">
                                    <button class="btn btn-primary">Save</button>
                                    <a asp-controller="Roles" asp-action="AllRoles" class="btn btn-secondary">Cancel</a>
                                </div>

                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
